{
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "plugins": ["prettier", "mocha"],
  "rules": {
    "prettier/prettier": "error",
    "mocha/no-exclusive-tests": "error",
    "no-unused-expressions": 0
  },
  "env": {
    "mocha": true
  }
}
